.rfs-8px {
  font-size: 0.5rem;
}

.rfs-9px {
  font-size: 0.5625rem;
}

.rfs-10px {
  font-size: 0.625rem;
}

.rfs-11px {
  font-size: 0.6875rem;
}

.rfs-12px {
  font-size: 0.75rem;
}

.rfs-13px {
  font-size: 0.8125rem;
}

.rfs-14px {
  font-size: 0.875rem;
}

.rfs-15px {
  font-size: 0.9375rem;
}

.rfs-16px {
  font-size: 1rem;
}

.rfs-17px {
  font-size: 1.0625rem;
}

.rfs-18px {
  font-size: 1.125rem;
}

.rfs-19px {
  font-size: 1.1875rem;
}

.rfs-20px {
  font-size: 1.25rem;
}

.rfs-21px {
  font-size: calc(1.25625rem + 0.075vw);
}
@media (min-width: 1200px) {
  .rfs-21px {
    font-size: 1.3125rem;
  }
}

.rfs-22px {
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .rfs-22px {
    font-size: 1.375rem;
  }
}

.rfs-23px {
  font-size: calc(1.26875rem + 0.225vw);
}
@media (min-width: 1200px) {
  .rfs-23px {
    font-size: 1.4375rem;
  }
}

.rfs-24px {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .rfs-24px {
    font-size: 1.5rem;
  }
}

.rfs-25px {
  font-size: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .rfs-25px {
    font-size: 1.5625rem;
  }
}

.rfs-26px {
  font-size: calc(1.2875rem + 0.45vw);
}
@media (min-width: 1200px) {
  .rfs-26px {
    font-size: 1.625rem;
  }
}

.rfs-27px {
  font-size: calc(1.29375rem + 0.525vw);
}
@media (min-width: 1200px) {
  .rfs-27px {
    font-size: 1.6875rem;
  }
}

.rfs-28px {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .rfs-28px {
    font-size: 1.75rem;
  }
}

.rfs-29px {
  font-size: calc(1.30625rem + 0.675vw);
}
@media (min-width: 1200px) {
  .rfs-29px {
    font-size: 1.8125rem;
  }
}

.rfs-30px {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .rfs-30px {
    font-size: 1.875rem;
  }
}

.rfs-31px {
  font-size: calc(1.31875rem + 0.825vw);
}
@media (min-width: 1200px) {
  .rfs-31px {
    font-size: 1.9375rem;
  }
}

.rfs-32px {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .rfs-32px {
    font-size: 2rem;
  }
}

.rfs-33px {
  font-size: calc(1.33125rem + 0.975vw);
}
@media (min-width: 1200px) {
  .rfs-33px {
    font-size: 2.0625rem;
  }
}

.rfs-34px {
  font-size: calc(1.3375rem + 1.05vw);
}
@media (min-width: 1200px) {
  .rfs-34px {
    font-size: 2.125rem;
  }
}

.rfs-35px {
  font-size: calc(1.34375rem + 1.125vw);
}
@media (min-width: 1200px) {
  .rfs-35px {
    font-size: 2.1875rem;
  }
}

.rfs-36px {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  .rfs-36px {
    font-size: 2.25rem;
  }
}

.rfs-37px {
  font-size: calc(1.35625rem + 1.275vw);
}
@media (min-width: 1200px) {
  .rfs-37px {
    font-size: 2.3125rem;
  }
}

.rfs-38px {
  font-size: calc(1.3625rem + 1.35vw);
}
@media (min-width: 1200px) {
  .rfs-38px {
    font-size: 2.375rem;
  }
}

.rfs-39px {
  font-size: calc(1.36875rem + 1.425vw);
}
@media (min-width: 1200px) {
  .rfs-39px {
    font-size: 2.4375rem;
  }
}

.rfs-40px {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .rfs-40px {
    font-size: 2.5rem;
  }
}

.rfs-41px {
  font-size: calc(1.38125rem + 1.575vw);
}
@media (min-width: 1200px) {
  .rfs-41px {
    font-size: 2.5625rem;
  }
}

.rfs-42px {
  font-size: calc(1.3875rem + 1.65vw);
}
@media (min-width: 1200px) {
  .rfs-42px {
    font-size: 2.625rem;
  }
}

.rfs-43px {
  font-size: calc(1.39375rem + 1.725vw);
}
@media (min-width: 1200px) {
  .rfs-43px {
    font-size: 2.6875rem;
  }
}

.rfs-44px {
  font-size: calc(1.4rem + 1.8vw);
}
@media (min-width: 1200px) {
  .rfs-44px {
    font-size: 2.75rem;
  }
}

.rfs-45px {
  font-size: calc(1.40625rem + 1.875vw);
}
@media (min-width: 1200px) {
  .rfs-45px {
    font-size: 2.8125rem;
  }
}

.rfs-46px {
  font-size: calc(1.4125rem + 1.95vw);
}
@media (min-width: 1200px) {
  .rfs-46px {
    font-size: 2.875rem;
  }
}

.rfs-47px {
  font-size: calc(1.41875rem + 2.025vw);
}
@media (min-width: 1200px) {
  .rfs-47px {
    font-size: 2.9375rem;
  }
}

.rfs-48px {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  .rfs-48px {
    font-size: 3rem;
  }
}

.rfs-49px {
  font-size: calc(1.43125rem + 2.175vw);
}
@media (min-width: 1200px) {
  .rfs-49px {
    font-size: 3.0625rem;
  }
}

.rfs-50px {
  font-size: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .rfs-50px {
    font-size: 3.125rem;
  }
}

.rfs-51px {
  font-size: calc(1.44375rem + 2.325vw);
}
@media (min-width: 1200px) {
  .rfs-51px {
    font-size: 3.1875rem;
  }
}

.rfs-52px {
  font-size: calc(1.45rem + 2.4vw);
}
@media (min-width: 1200px) {
  .rfs-52px {
    font-size: 3.25rem;
  }
}

.rfs-53px {
  font-size: calc(1.45625rem + 2.475vw);
}
@media (min-width: 1200px) {
  .rfs-53px {
    font-size: 3.3125rem;
  }
}

.rfs-54px {
  font-size: calc(1.4625rem + 2.55vw);
}
@media (min-width: 1200px) {
  .rfs-54px {
    font-size: 3.375rem;
  }
}

.rfs-55px {
  font-size: calc(1.46875rem + 2.625vw);
}
@media (min-width: 1200px) {
  .rfs-55px {
    font-size: 3.4375rem;
  }
}

.rfs-56px {
  font-size: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  .rfs-56px {
    font-size: 3.5rem;
  }
}

.rfs-57px {
  font-size: calc(1.48125rem + 2.775vw);
}
@media (min-width: 1200px) {
  .rfs-57px {
    font-size: 3.5625rem;
  }
}

.rfs-58px {
  font-size: calc(1.4875rem + 2.85vw);
}
@media (min-width: 1200px) {
  .rfs-58px {
    font-size: 3.625rem;
  }
}

.rfs-59px {
  font-size: calc(1.49375rem + 2.925vw);
}
@media (min-width: 1200px) {
  .rfs-59px {
    font-size: 3.6875rem;
  }
}

.rfs-60px {
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .rfs-60px {
    font-size: 3.75rem;
  }
}

.rfs-61px {
  font-size: calc(1.50625rem + 3.075vw);
}
@media (min-width: 1200px) {
  .rfs-61px {
    font-size: 3.8125rem;
  }
}

.rfs-62px {
  font-size: calc(1.5125rem + 3.15vw);
}
@media (min-width: 1200px) {
  .rfs-62px {
    font-size: 3.875rem;
  }
}

.rfs-63px {
  font-size: calc(1.51875rem + 3.225vw);
}
@media (min-width: 1200px) {
  .rfs-63px {
    font-size: 3.9375rem;
  }
}

.rfs-64px {
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .rfs-64px {
    font-size: 4rem;
  }
}

.rfs-65px {
  font-size: calc(1.53125rem + 3.375vw);
}
@media (min-width: 1200px) {
  .rfs-65px {
    font-size: 4.0625rem;
  }
}

.rfs-66px {
  font-size: calc(1.5375rem + 3.45vw);
}
@media (min-width: 1200px) {
  .rfs-66px {
    font-size: 4.125rem;
  }
}

.rfs-67px {
  font-size: calc(1.54375rem + 3.525vw);
}
@media (min-width: 1200px) {
  .rfs-67px {
    font-size: 4.1875rem;
  }
}

.rfs-68px {
  font-size: calc(1.55rem + 3.6vw);
}
@media (min-width: 1200px) {
  .rfs-68px {
    font-size: 4.25rem;
  }
}

.rfs-69px {
  font-size: calc(1.55625rem + 3.675vw);
}
@media (min-width: 1200px) {
  .rfs-69px {
    font-size: 4.3125rem;
  }
}

.rfs-70px {
  font-size: calc(1.5625rem + 3.75vw);
}
@media (min-width: 1200px) {
  .rfs-70px {
    font-size: 4.375rem;
  }
}

.rfs-71px {
  font-size: calc(1.56875rem + 3.825vw);
}
@media (min-width: 1200px) {
  .rfs-71px {
    font-size: 4.4375rem;
  }
}

.rfs-72px {
  font-size: calc(1.575rem + 3.9vw);
}
@media (min-width: 1200px) {
  .rfs-72px {
    font-size: 4.5rem;
  }
}

.rfs-73px {
  font-size: calc(1.58125rem + 3.975vw);
}
@media (min-width: 1200px) {
  .rfs-73px {
    font-size: 4.5625rem;
  }
}

.rfs-74px {
  font-size: calc(1.5875rem + 4.05vw);
}
@media (min-width: 1200px) {
  .rfs-74px {
    font-size: 4.625rem;
  }
}

.rfs-75px {
  font-size: calc(1.59375rem + 4.125vw);
}
@media (min-width: 1200px) {
  .rfs-75px {
    font-size: 4.6875rem;
  }
}

.rfs-76px {
  font-size: calc(1.6rem + 4.2vw);
}
@media (min-width: 1200px) {
  .rfs-76px {
    font-size: 4.75rem;
  }
}

.rfs-77px {
  font-size: calc(1.60625rem + 4.275vw);
}
@media (min-width: 1200px) {
  .rfs-77px {
    font-size: 4.8125rem;
  }
}

.rfs-78px {
  font-size: calc(1.6125rem + 4.35vw);
}
@media (min-width: 1200px) {
  .rfs-78px {
    font-size: 4.875rem;
  }
}

.rfs-79px {
  font-size: calc(1.61875rem + 4.425vw);
}
@media (min-width: 1200px) {
  .rfs-79px {
    font-size: 4.9375rem;
  }
}

.rfs-80px {
  font-size: calc(1.625rem + 4.5vw);
}
@media (min-width: 1200px) {
  .rfs-80px {
    font-size: 5rem;
  }
}

.rfs-81px {
  font-size: calc(1.63125rem + 4.575vw);
}
@media (min-width: 1200px) {
  .rfs-81px {
    font-size: 5.0625rem;
  }
}

.rfs-82px {
  font-size: calc(1.6375rem + 4.65vw);
}
@media (min-width: 1200px) {
  .rfs-82px {
    font-size: 5.125rem;
  }
}

.rfs-83px {
  font-size: calc(1.64375rem + 4.725vw);
}
@media (min-width: 1200px) {
  .rfs-83px {
    font-size: 5.1875rem;
  }
}

.rfs-84px {
  font-size: calc(1.65rem + 4.8vw);
}
@media (min-width: 1200px) {
  .rfs-84px {
    font-size: 5.25rem;
  }
}

.rfs-85px {
  font-size: calc(1.65625rem + 4.875vw);
}
@media (min-width: 1200px) {
  .rfs-85px {
    font-size: 5.3125rem;
  }
}

.rfs-86px {
  font-size: calc(1.6625rem + 4.95vw);
}
@media (min-width: 1200px) {
  .rfs-86px {
    font-size: 5.375rem;
  }
}

.rfs-87px {
  font-size: calc(1.66875rem + 5.025vw);
}
@media (min-width: 1200px) {
  .rfs-87px {
    font-size: 5.4375rem;
  }
}

.rfs-88px {
  font-size: calc(1.675rem + 5.1vw);
}
@media (min-width: 1200px) {
  .rfs-88px {
    font-size: 5.5rem;
  }
}

.rfs-89px {
  font-size: calc(1.68125rem + 5.175vw);
}
@media (min-width: 1200px) {
  .rfs-89px {
    font-size: 5.5625rem;
  }
}

.rfs-90px {
  font-size: calc(1.6875rem + 5.25vw);
}
@media (min-width: 1200px) {
  .rfs-90px {
    font-size: 5.625rem;
  }
}

.rfs-91px {
  font-size: calc(1.69375rem + 5.325vw);
}
@media (min-width: 1200px) {
  .rfs-91px {
    font-size: 5.6875rem;
  }
}

.rfs-92px {
  font-size: calc(1.7rem + 5.4vw);
}
@media (min-width: 1200px) {
  .rfs-92px {
    font-size: 5.75rem;
  }
}

.rfs-93px {
  font-size: calc(1.70625rem + 5.475vw);
}
@media (min-width: 1200px) {
  .rfs-93px {
    font-size: 5.8125rem;
  }
}

.rfs-94px {
  font-size: calc(1.7125rem + 5.55vw);
}
@media (min-width: 1200px) {
  .rfs-94px {
    font-size: 5.875rem;
  }
}

.rfs-95px {
  font-size: calc(1.71875rem + 5.625vw);
}
@media (min-width: 1200px) {
  .rfs-95px {
    font-size: 5.9375rem;
  }
}

.rfs-96px {
  font-size: calc(1.725rem + 5.7vw);
}
@media (min-width: 1200px) {
  .rfs-96px {
    font-size: 6rem;
  }
}

.rfs-97px {
  font-size: calc(1.73125rem + 5.775vw);
}
@media (min-width: 1200px) {
  .rfs-97px {
    font-size: 6.0625rem;
  }
}

.rfs-98px {
  font-size: calc(1.7375rem + 5.85vw);
}
@media (min-width: 1200px) {
  .rfs-98px {
    font-size: 6.125rem;
  }
}

.rfs-99px {
  font-size: calc(1.74375rem + 5.925vw);
}
@media (min-width: 1200px) {
  .rfs-99px {
    font-size: 6.1875rem;
  }
}

.rfs-100px {
  font-size: calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .rfs-100px {
    font-size: 6.25rem;
  }
}

.rfs-101px {
  font-size: calc(1.75625rem + 6.075vw);
}
@media (min-width: 1200px) {
  .rfs-101px {
    font-size: 6.3125rem;
  }
}

.rfs-102px {
  font-size: calc(1.7625rem + 6.15vw);
}
@media (min-width: 1200px) {
  .rfs-102px {
    font-size: 6.375rem;
  }
}

.rfs-103px {
  font-size: calc(1.76875rem + 6.225vw);
}
@media (min-width: 1200px) {
  .rfs-103px {
    font-size: 6.4375rem;
  }
}

.rfs-104px {
  font-size: calc(1.775rem + 6.3vw);
}
@media (min-width: 1200px) {
  .rfs-104px {
    font-size: 6.5rem;
  }
}

.rfs-105px {
  font-size: calc(1.78125rem + 6.375vw);
}
@media (min-width: 1200px) {
  .rfs-105px {
    font-size: 6.5625rem;
  }
}

.rfs-106px {
  font-size: calc(1.7875rem + 6.45vw);
}
@media (min-width: 1200px) {
  .rfs-106px {
    font-size: 6.625rem;
  }
}

.rfs-107px {
  font-size: calc(1.79375rem + 6.525vw);
}
@media (min-width: 1200px) {
  .rfs-107px {
    font-size: 6.6875rem;
  }
}

.rfs-108px {
  font-size: calc(1.8rem + 6.6vw);
}
@media (min-width: 1200px) {
  .rfs-108px {
    font-size: 6.75rem;
  }
}

.rfs-109px {
  font-size: calc(1.80625rem + 6.675vw);
}
@media (min-width: 1200px) {
  .rfs-109px {
    font-size: 6.8125rem;
  }
}

.rfs-110px {
  font-size: calc(1.8125rem + 6.75vw);
}
@media (min-width: 1200px) {
  .rfs-110px {
    font-size: 6.875rem;
  }
}

.rfs-111px {
  font-size: calc(1.81875rem + 6.825vw);
}
@media (min-width: 1200px) {
  .rfs-111px {
    font-size: 6.9375rem;
  }
}

.rfs-112px {
  font-size: calc(1.825rem + 6.9vw);
}
@media (min-width: 1200px) {
  .rfs-112px {
    font-size: 7rem;
  }
}

.rfs-113px {
  font-size: calc(1.83125rem + 6.975vw);
}
@media (min-width: 1200px) {
  .rfs-113px {
    font-size: 7.0625rem;
  }
}

.rfs-114px {
  font-size: calc(1.8375rem + 7.05vw);
}
@media (min-width: 1200px) {
  .rfs-114px {
    font-size: 7.125rem;
  }
}

.rfs-115px {
  font-size: calc(1.84375rem + 7.125vw);
}
@media (min-width: 1200px) {
  .rfs-115px {
    font-size: 7.1875rem;
  }
}

.rfs-116px {
  font-size: calc(1.85rem + 7.2vw);
}
@media (min-width: 1200px) {
  .rfs-116px {
    font-size: 7.25rem;
  }
}

.rfs-117px {
  font-size: calc(1.85625rem + 7.275vw);
}
@media (min-width: 1200px) {
  .rfs-117px {
    font-size: 7.3125rem;
  }
}

.rfs-118px {
  font-size: calc(1.8625rem + 7.35vw);
}
@media (min-width: 1200px) {
  .rfs-118px {
    font-size: 7.375rem;
  }
}

.rfs-119px {
  font-size: calc(1.86875rem + 7.425vw);
}
@media (min-width: 1200px) {
  .rfs-119px {
    font-size: 7.4375rem;
  }
}

.rfs-120px {
  font-size: calc(1.875rem + 7.5vw);
}
@media (min-width: 1200px) {
  .rfs-120px {
    font-size: 7.5rem;
  }
}

.rfs-121px {
  font-size: calc(1.88125rem + 7.575vw);
}
@media (min-width: 1200px) {
  .rfs-121px {
    font-size: 7.5625rem;
  }
}

.rfs-122px {
  font-size: calc(1.8875rem + 7.65vw);
}
@media (min-width: 1200px) {
  .rfs-122px {
    font-size: 7.625rem;
  }
}

.rfs-123px {
  font-size: calc(1.89375rem + 7.725vw);
}
@media (min-width: 1200px) {
  .rfs-123px {
    font-size: 7.6875rem;
  }
}

.rfs-124px {
  font-size: calc(1.9rem + 7.8vw);
}
@media (min-width: 1200px) {
  .rfs-124px {
    font-size: 7.75rem;
  }
}

.rfs-125px {
  font-size: calc(1.90625rem + 7.875vw);
}
@media (min-width: 1200px) {
  .rfs-125px {
    font-size: 7.8125rem;
  }
}

.rfs-126px {
  font-size: calc(1.9125rem + 7.95vw);
}
@media (min-width: 1200px) {
  .rfs-126px {
    font-size: 7.875rem;
  }
}

.rfs-127px {
  font-size: calc(1.91875rem + 8.025vw);
}
@media (min-width: 1200px) {
  .rfs-127px {
    font-size: 7.9375rem;
  }
}

.rfs-128px {
  font-size: calc(1.925rem + 8.1vw);
}
@media (min-width: 1200px) {
  .rfs-128px {
    font-size: 8rem;
  }
}

.rfs-8px\! {
  font-size: 0.5rem !important;
}

.rfs-9px\! {
  font-size: 0.5625rem !important;
}

.rfs-10px\! {
  font-size: 0.625rem !important;
}

.rfs-11px\! {
  font-size: 0.6875rem !important;
}

.rfs-12px\! {
  font-size: 0.75rem !important;
}

.rfs-13px\! {
  font-size: 0.8125rem !important;
}

.rfs-14px\! {
  font-size: 0.875rem !important;
}

.rfs-15px\! {
  font-size: 0.9375rem !important;
}

.rfs-16px\! {
  font-size: 1rem !important;
}

.rfs-17px\! {
  font-size: 1.0625rem !important;
}

.rfs-18px\! {
  font-size: 1.125rem !important;
}

.rfs-19px\! {
  font-size: 1.1875rem !important;
}

.rfs-20px\! {
  font-size: 1.25rem !important;
}

.rfs-21px\! {
  font-size: calc(1.25625rem + 0.075vw) !important;
}
@media (min-width: 1200px) {
  .rfs-21px\! {
    font-size: 1.3125rem !important;
  }
}

.rfs-22px\! {
  font-size: calc(1.2625rem + 0.15vw) !important;
}
@media (min-width: 1200px) {
  .rfs-22px\! {
    font-size: 1.375rem !important;
  }
}

.rfs-23px\! {
  font-size: calc(1.26875rem + 0.225vw) !important;
}
@media (min-width: 1200px) {
  .rfs-23px\! {
    font-size: 1.4375rem !important;
  }
}

.rfs-24px\! {
  font-size: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .rfs-24px\! {
    font-size: 1.5rem !important;
  }
}

.rfs-25px\! {
  font-size: calc(1.28125rem + 0.375vw) !important;
}
@media (min-width: 1200px) {
  .rfs-25px\! {
    font-size: 1.5625rem !important;
  }
}

.rfs-26px\! {
  font-size: calc(1.2875rem + 0.45vw) !important;
}
@media (min-width: 1200px) {
  .rfs-26px\! {
    font-size: 1.625rem !important;
  }
}

.rfs-27px\! {
  font-size: calc(1.29375rem + 0.525vw) !important;
}
@media (min-width: 1200px) {
  .rfs-27px\! {
    font-size: 1.6875rem !important;
  }
}

.rfs-28px\! {
  font-size: calc(1.3rem + 0.6vw) !important;
}
@media (min-width: 1200px) {
  .rfs-28px\! {
    font-size: 1.75rem !important;
  }
}

.rfs-29px\! {
  font-size: calc(1.30625rem + 0.675vw) !important;
}
@media (min-width: 1200px) {
  .rfs-29px\! {
    font-size: 1.8125rem !important;
  }
}

.rfs-30px\! {
  font-size: calc(1.3125rem + 0.75vw) !important;
}
@media (min-width: 1200px) {
  .rfs-30px\! {
    font-size: 1.875rem !important;
  }
}

.rfs-31px\! {
  font-size: calc(1.31875rem + 0.825vw) !important;
}
@media (min-width: 1200px) {
  .rfs-31px\! {
    font-size: 1.9375rem !important;
  }
}

.rfs-32px\! {
  font-size: calc(1.325rem + 0.9vw) !important;
}
@media (min-width: 1200px) {
  .rfs-32px\! {
    font-size: 2rem !important;
  }
}

.rfs-33px\! {
  font-size: calc(1.33125rem + 0.975vw) !important;
}
@media (min-width: 1200px) {
  .rfs-33px\! {
    font-size: 2.0625rem !important;
  }
}

.rfs-34px\! {
  font-size: calc(1.3375rem + 1.05vw) !important;
}
@media (min-width: 1200px) {
  .rfs-34px\! {
    font-size: 2.125rem !important;
  }
}

.rfs-35px\! {
  font-size: calc(1.34375rem + 1.125vw) !important;
}
@media (min-width: 1200px) {
  .rfs-35px\! {
    font-size: 2.1875rem !important;
  }
}

.rfs-36px\! {
  font-size: calc(1.35rem + 1.2vw) !important;
}
@media (min-width: 1200px) {
  .rfs-36px\! {
    font-size: 2.25rem !important;
  }
}

.rfs-37px\! {
  font-size: calc(1.35625rem + 1.275vw) !important;
}
@media (min-width: 1200px) {
  .rfs-37px\! {
    font-size: 2.3125rem !important;
  }
}

.rfs-38px\! {
  font-size: calc(1.3625rem + 1.35vw) !important;
}
@media (min-width: 1200px) {
  .rfs-38px\! {
    font-size: 2.375rem !important;
  }
}

.rfs-39px\! {
  font-size: calc(1.36875rem + 1.425vw) !important;
}
@media (min-width: 1200px) {
  .rfs-39px\! {
    font-size: 2.4375rem !important;
  }
}

.rfs-40px\! {
  font-size: calc(1.375rem + 1.5vw) !important;
}
@media (min-width: 1200px) {
  .rfs-40px\! {
    font-size: 2.5rem !important;
  }
}

.rfs-41px\! {
  font-size: calc(1.38125rem + 1.575vw) !important;
}
@media (min-width: 1200px) {
  .rfs-41px\! {
    font-size: 2.5625rem !important;
  }
}

.rfs-42px\! {
  font-size: calc(1.3875rem + 1.65vw) !important;
}
@media (min-width: 1200px) {
  .rfs-42px\! {
    font-size: 2.625rem !important;
  }
}

.rfs-43px\! {
  font-size: calc(1.39375rem + 1.725vw) !important;
}
@media (min-width: 1200px) {
  .rfs-43px\! {
    font-size: 2.6875rem !important;
  }
}

.rfs-44px\! {
  font-size: calc(1.4rem + 1.8vw) !important;
}
@media (min-width: 1200px) {
  .rfs-44px\! {
    font-size: 2.75rem !important;
  }
}

.rfs-45px\! {
  font-size: calc(1.40625rem + 1.875vw) !important;
}
@media (min-width: 1200px) {
  .rfs-45px\! {
    font-size: 2.8125rem !important;
  }
}

.rfs-46px\! {
  font-size: calc(1.4125rem + 1.95vw) !important;
}
@media (min-width: 1200px) {
  .rfs-46px\! {
    font-size: 2.875rem !important;
  }
}

.rfs-47px\! {
  font-size: calc(1.41875rem + 2.025vw) !important;
}
@media (min-width: 1200px) {
  .rfs-47px\! {
    font-size: 2.9375rem !important;
  }
}

.rfs-48px\! {
  font-size: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .rfs-48px\! {
    font-size: 3rem !important;
  }
}

.rfs-49px\! {
  font-size: calc(1.43125rem + 2.175vw) !important;
}
@media (min-width: 1200px) {
  .rfs-49px\! {
    font-size: 3.0625rem !important;
  }
}

.rfs-50px\! {
  font-size: calc(1.4375rem + 2.25vw) !important;
}
@media (min-width: 1200px) {
  .rfs-50px\! {
    font-size: 3.125rem !important;
  }
}

.rfs-51px\! {
  font-size: calc(1.44375rem + 2.325vw) !important;
}
@media (min-width: 1200px) {
  .rfs-51px\! {
    font-size: 3.1875rem !important;
  }
}

.rfs-52px\! {
  font-size: calc(1.45rem + 2.4vw) !important;
}
@media (min-width: 1200px) {
  .rfs-52px\! {
    font-size: 3.25rem !important;
  }
}

.rfs-53px\! {
  font-size: calc(1.45625rem + 2.475vw) !important;
}
@media (min-width: 1200px) {
  .rfs-53px\! {
    font-size: 3.3125rem !important;
  }
}

.rfs-54px\! {
  font-size: calc(1.4625rem + 2.55vw) !important;
}
@media (min-width: 1200px) {
  .rfs-54px\! {
    font-size: 3.375rem !important;
  }
}

.rfs-55px\! {
  font-size: calc(1.46875rem + 2.625vw) !important;
}
@media (min-width: 1200px) {
  .rfs-55px\! {
    font-size: 3.4375rem !important;
  }
}

.rfs-56px\! {
  font-size: calc(1.475rem + 2.7vw) !important;
}
@media (min-width: 1200px) {
  .rfs-56px\! {
    font-size: 3.5rem !important;
  }
}

.rfs-57px\! {
  font-size: calc(1.48125rem + 2.775vw) !important;
}
@media (min-width: 1200px) {
  .rfs-57px\! {
    font-size: 3.5625rem !important;
  }
}

.rfs-58px\! {
  font-size: calc(1.4875rem + 2.85vw) !important;
}
@media (min-width: 1200px) {
  .rfs-58px\! {
    font-size: 3.625rem !important;
  }
}

.rfs-59px\! {
  font-size: calc(1.49375rem + 2.925vw) !important;
}
@media (min-width: 1200px) {
  .rfs-59px\! {
    font-size: 3.6875rem !important;
  }
}

.rfs-60px\! {
  font-size: calc(1.5rem + 3vw) !important;
}
@media (min-width: 1200px) {
  .rfs-60px\! {
    font-size: 3.75rem !important;
  }
}

.rfs-61px\! {
  font-size: calc(1.50625rem + 3.075vw) !important;
}
@media (min-width: 1200px) {
  .rfs-61px\! {
    font-size: 3.8125rem !important;
  }
}

.rfs-62px\! {
  font-size: calc(1.5125rem + 3.15vw) !important;
}
@media (min-width: 1200px) {
  .rfs-62px\! {
    font-size: 3.875rem !important;
  }
}

.rfs-63px\! {
  font-size: calc(1.51875rem + 3.225vw) !important;
}
@media (min-width: 1200px) {
  .rfs-63px\! {
    font-size: 3.9375rem !important;
  }
}

.rfs-64px\! {
  font-size: calc(1.525rem + 3.3vw) !important;
}
@media (min-width: 1200px) {
  .rfs-64px\! {
    font-size: 4rem !important;
  }
}

.rfs-65px\! {
  font-size: calc(1.53125rem + 3.375vw) !important;
}
@media (min-width: 1200px) {
  .rfs-65px\! {
    font-size: 4.0625rem !important;
  }
}

.rfs-66px\! {
  font-size: calc(1.5375rem + 3.45vw) !important;
}
@media (min-width: 1200px) {
  .rfs-66px\! {
    font-size: 4.125rem !important;
  }
}

.rfs-67px\! {
  font-size: calc(1.54375rem + 3.525vw) !important;
}
@media (min-width: 1200px) {
  .rfs-67px\! {
    font-size: 4.1875rem !important;
  }
}

.rfs-68px\! {
  font-size: calc(1.55rem + 3.6vw) !important;
}
@media (min-width: 1200px) {
  .rfs-68px\! {
    font-size: 4.25rem !important;
  }
}

.rfs-69px\! {
  font-size: calc(1.55625rem + 3.675vw) !important;
}
@media (min-width: 1200px) {
  .rfs-69px\! {
    font-size: 4.3125rem !important;
  }
}

.rfs-70px\! {
  font-size: calc(1.5625rem + 3.75vw) !important;
}
@media (min-width: 1200px) {
  .rfs-70px\! {
    font-size: 4.375rem !important;
  }
}

.rfs-71px\! {
  font-size: calc(1.56875rem + 3.825vw) !important;
}
@media (min-width: 1200px) {
  .rfs-71px\! {
    font-size: 4.4375rem !important;
  }
}

.rfs-72px\! {
  font-size: calc(1.575rem + 3.9vw) !important;
}
@media (min-width: 1200px) {
  .rfs-72px\! {
    font-size: 4.5rem !important;
  }
}

.rfs-73px\! {
  font-size: calc(1.58125rem + 3.975vw) !important;
}
@media (min-width: 1200px) {
  .rfs-73px\! {
    font-size: 4.5625rem !important;
  }
}

.rfs-74px\! {
  font-size: calc(1.5875rem + 4.05vw) !important;
}
@media (min-width: 1200px) {
  .rfs-74px\! {
    font-size: 4.625rem !important;
  }
}

.rfs-75px\! {
  font-size: calc(1.59375rem + 4.125vw) !important;
}
@media (min-width: 1200px) {
  .rfs-75px\! {
    font-size: 4.6875rem !important;
  }
}

.rfs-76px\! {
  font-size: calc(1.6rem + 4.2vw) !important;
}
@media (min-width: 1200px) {
  .rfs-76px\! {
    font-size: 4.75rem !important;
  }
}

.rfs-77px\! {
  font-size: calc(1.60625rem + 4.275vw) !important;
}
@media (min-width: 1200px) {
  .rfs-77px\! {
    font-size: 4.8125rem !important;
  }
}

.rfs-78px\! {
  font-size: calc(1.6125rem + 4.35vw) !important;
}
@media (min-width: 1200px) {
  .rfs-78px\! {
    font-size: 4.875rem !important;
  }
}

.rfs-79px\! {
  font-size: calc(1.61875rem + 4.425vw) !important;
}
@media (min-width: 1200px) {
  .rfs-79px\! {
    font-size: 4.9375rem !important;
  }
}

.rfs-80px\! {
  font-size: calc(1.625rem + 4.5vw) !important;
}
@media (min-width: 1200px) {
  .rfs-80px\! {
    font-size: 5rem !important;
  }
}

.rfs-81px\! {
  font-size: calc(1.63125rem + 4.575vw) !important;
}
@media (min-width: 1200px) {
  .rfs-81px\! {
    font-size: 5.0625rem !important;
  }
}

.rfs-82px\! {
  font-size: calc(1.6375rem + 4.65vw) !important;
}
@media (min-width: 1200px) {
  .rfs-82px\! {
    font-size: 5.125rem !important;
  }
}

.rfs-83px\! {
  font-size: calc(1.64375rem + 4.725vw) !important;
}
@media (min-width: 1200px) {
  .rfs-83px\! {
    font-size: 5.1875rem !important;
  }
}

.rfs-84px\! {
  font-size: calc(1.65rem + 4.8vw) !important;
}
@media (min-width: 1200px) {
  .rfs-84px\! {
    font-size: 5.25rem !important;
  }
}

.rfs-85px\! {
  font-size: calc(1.65625rem + 4.875vw) !important;
}
@media (min-width: 1200px) {
  .rfs-85px\! {
    font-size: 5.3125rem !important;
  }
}

.rfs-86px\! {
  font-size: calc(1.6625rem + 4.95vw) !important;
}
@media (min-width: 1200px) {
  .rfs-86px\! {
    font-size: 5.375rem !important;
  }
}

.rfs-87px\! {
  font-size: calc(1.66875rem + 5.025vw) !important;
}
@media (min-width: 1200px) {
  .rfs-87px\! {
    font-size: 5.4375rem !important;
  }
}

.rfs-88px\! {
  font-size: calc(1.675rem + 5.1vw) !important;
}
@media (min-width: 1200px) {
  .rfs-88px\! {
    font-size: 5.5rem !important;
  }
}

.rfs-89px\! {
  font-size: calc(1.68125rem + 5.175vw) !important;
}
@media (min-width: 1200px) {
  .rfs-89px\! {
    font-size: 5.5625rem !important;
  }
}

.rfs-90px\! {
  font-size: calc(1.6875rem + 5.25vw) !important;
}
@media (min-width: 1200px) {
  .rfs-90px\! {
    font-size: 5.625rem !important;
  }
}

.rfs-91px\! {
  font-size: calc(1.69375rem + 5.325vw) !important;
}
@media (min-width: 1200px) {
  .rfs-91px\! {
    font-size: 5.6875rem !important;
  }
}

.rfs-92px\! {
  font-size: calc(1.7rem + 5.4vw) !important;
}
@media (min-width: 1200px) {
  .rfs-92px\! {
    font-size: 5.75rem !important;
  }
}

.rfs-93px\! {
  font-size: calc(1.70625rem + 5.475vw) !important;
}
@media (min-width: 1200px) {
  .rfs-93px\! {
    font-size: 5.8125rem !important;
  }
}

.rfs-94px\! {
  font-size: calc(1.7125rem + 5.55vw) !important;
}
@media (min-width: 1200px) {
  .rfs-94px\! {
    font-size: 5.875rem !important;
  }
}

.rfs-95px\! {
  font-size: calc(1.71875rem + 5.625vw) !important;
}
@media (min-width: 1200px) {
  .rfs-95px\! {
    font-size: 5.9375rem !important;
  }
}

.rfs-96px\! {
  font-size: calc(1.725rem + 5.7vw) !important;
}
@media (min-width: 1200px) {
  .rfs-96px\! {
    font-size: 6rem !important;
  }
}

.rfs-97px\! {
  font-size: calc(1.73125rem + 5.775vw) !important;
}
@media (min-width: 1200px) {
  .rfs-97px\! {
    font-size: 6.0625rem !important;
  }
}

.rfs-98px\! {
  font-size: calc(1.7375rem + 5.85vw) !important;
}
@media (min-width: 1200px) {
  .rfs-98px\! {
    font-size: 6.125rem !important;
  }
}

.rfs-99px\! {
  font-size: calc(1.74375rem + 5.925vw) !important;
}
@media (min-width: 1200px) {
  .rfs-99px\! {
    font-size: 6.1875rem !important;
  }
}

.rfs-100px\! {
  font-size: calc(1.75rem + 6vw) !important;
}
@media (min-width: 1200px) {
  .rfs-100px\! {
    font-size: 6.25rem !important;
  }
}

.rfs-101px\! {
  font-size: calc(1.75625rem + 6.075vw) !important;
}
@media (min-width: 1200px) {
  .rfs-101px\! {
    font-size: 6.3125rem !important;
  }
}

.rfs-102px\! {
  font-size: calc(1.7625rem + 6.15vw) !important;
}
@media (min-width: 1200px) {
  .rfs-102px\! {
    font-size: 6.375rem !important;
  }
}

.rfs-103px\! {
  font-size: calc(1.76875rem + 6.225vw) !important;
}
@media (min-width: 1200px) {
  .rfs-103px\! {
    font-size: 6.4375rem !important;
  }
}

.rfs-104px\! {
  font-size: calc(1.775rem + 6.3vw) !important;
}
@media (min-width: 1200px) {
  .rfs-104px\! {
    font-size: 6.5rem !important;
  }
}

.rfs-105px\! {
  font-size: calc(1.78125rem + 6.375vw) !important;
}
@media (min-width: 1200px) {
  .rfs-105px\! {
    font-size: 6.5625rem !important;
  }
}

.rfs-106px\! {
  font-size: calc(1.7875rem + 6.45vw) !important;
}
@media (min-width: 1200px) {
  .rfs-106px\! {
    font-size: 6.625rem !important;
  }
}

.rfs-107px\! {
  font-size: calc(1.79375rem + 6.525vw) !important;
}
@media (min-width: 1200px) {
  .rfs-107px\! {
    font-size: 6.6875rem !important;
  }
}

.rfs-108px\! {
  font-size: calc(1.8rem + 6.6vw) !important;
}
@media (min-width: 1200px) {
  .rfs-108px\! {
    font-size: 6.75rem !important;
  }
}

.rfs-109px\! {
  font-size: calc(1.80625rem + 6.675vw) !important;
}
@media (min-width: 1200px) {
  .rfs-109px\! {
    font-size: 6.8125rem !important;
  }
}

.rfs-110px\! {
  font-size: calc(1.8125rem + 6.75vw) !important;
}
@media (min-width: 1200px) {
  .rfs-110px\! {
    font-size: 6.875rem !important;
  }
}

.rfs-111px\! {
  font-size: calc(1.81875rem + 6.825vw) !important;
}
@media (min-width: 1200px) {
  .rfs-111px\! {
    font-size: 6.9375rem !important;
  }
}

.rfs-112px\! {
  font-size: calc(1.825rem + 6.9vw) !important;
}
@media (min-width: 1200px) {
  .rfs-112px\! {
    font-size: 7rem !important;
  }
}

.rfs-113px\! {
  font-size: calc(1.83125rem + 6.975vw) !important;
}
@media (min-width: 1200px) {
  .rfs-113px\! {
    font-size: 7.0625rem !important;
  }
}

.rfs-114px\! {
  font-size: calc(1.8375rem + 7.05vw) !important;
}
@media (min-width: 1200px) {
  .rfs-114px\! {
    font-size: 7.125rem !important;
  }
}

.rfs-115px\! {
  font-size: calc(1.84375rem + 7.125vw) !important;
}
@media (min-width: 1200px) {
  .rfs-115px\! {
    font-size: 7.1875rem !important;
  }
}

.rfs-116px\! {
  font-size: calc(1.85rem + 7.2vw) !important;
}
@media (min-width: 1200px) {
  .rfs-116px\! {
    font-size: 7.25rem !important;
  }
}

.rfs-117px\! {
  font-size: calc(1.85625rem + 7.275vw) !important;
}
@media (min-width: 1200px) {
  .rfs-117px\! {
    font-size: 7.3125rem !important;
  }
}

.rfs-118px\! {
  font-size: calc(1.8625rem + 7.35vw) !important;
}
@media (min-width: 1200px) {
  .rfs-118px\! {
    font-size: 7.375rem !important;
  }
}

.rfs-119px\! {
  font-size: calc(1.86875rem + 7.425vw) !important;
}
@media (min-width: 1200px) {
  .rfs-119px\! {
    font-size: 7.4375rem !important;
  }
}

.rfs-120px\! {
  font-size: calc(1.875rem + 7.5vw) !important;
}
@media (min-width: 1200px) {
  .rfs-120px\! {
    font-size: 7.5rem !important;
  }
}

.rfs-121px\! {
  font-size: calc(1.88125rem + 7.575vw) !important;
}
@media (min-width: 1200px) {
  .rfs-121px\! {
    font-size: 7.5625rem !important;
  }
}

.rfs-122px\! {
  font-size: calc(1.8875rem + 7.65vw) !important;
}
@media (min-width: 1200px) {
  .rfs-122px\! {
    font-size: 7.625rem !important;
  }
}

.rfs-123px\! {
  font-size: calc(1.89375rem + 7.725vw) !important;
}
@media (min-width: 1200px) {
  .rfs-123px\! {
    font-size: 7.6875rem !important;
  }
}

.rfs-124px\! {
  font-size: calc(1.9rem + 7.8vw) !important;
}
@media (min-width: 1200px) {
  .rfs-124px\! {
    font-size: 7.75rem !important;
  }
}

.rfs-125px\! {
  font-size: calc(1.90625rem + 7.875vw) !important;
}
@media (min-width: 1200px) {
  .rfs-125px\! {
    font-size: 7.8125rem !important;
  }
}

.rfs-126px\! {
  font-size: calc(1.9125rem + 7.95vw) !important;
}
@media (min-width: 1200px) {
  .rfs-126px\! {
    font-size: 7.875rem !important;
  }
}

.rfs-127px\! {
  font-size: calc(1.91875rem + 8.025vw) !important;
}
@media (min-width: 1200px) {
  .rfs-127px\! {
    font-size: 7.9375rem !important;
  }
}

.rfs-128px\! {
  font-size: calc(1.925rem + 8.1vw) !important;
}
@media (min-width: 1200px) {
  .rfs-128px\! {
    font-size: 8rem !important;
  }
}
